Source: mentohust
Section: net
Priority: optional
Maintainer: GengYu Rao <zouyoo@outlook.com>
Build-Depends: debhelper (>= 10), libpcap-dev, gettext
Standards-Version: 4.1.0
Homepage: https://github.com/hyrathb/mentohust

Package: mentohust
Architecture: any
Depends:${misc:Depends},${shlibs:Depends}
Description: Opensource substitute of Ruijie and Cernet supplicant 
 on Linux and MacOS from HustMoon Studio. 
 .
 this is used to connect your PC to many campus networks in China ,
 which have adopted some special methods using the Ruijie
 and other supplicants most of those supplicants are 
 closed source and no longer maintained.
